<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<h1>Minesweeper</h1>
<% if (endgame==="LOSE") { %>
       <p>BOOM!.....YOU LOSE :(</p>
       <form action="/new_game" method="post" enctype="multipart/form-data">
       <input type="radio" name="gametype" value="EASY"  checked><label>EASY</label><br>
       <input type="radio" name="gametype" value="HARD"><label>HARD</label><br>
       <input type="submit" value="NEW GAME">
       </form>
       <% for (let rr = 0; rr < rows; rr++) { %>
              <span>
       <%     for (let cc = 0; cc < cols; cc++) { %>
       <%          if (map_status[rr][cc]==="open") { %>
       <%               if (map[rr][cc]==="M") { %>
                             <input type="button" class="mine">
       <%               } else { %>
                             <input type="button" class="opened" value=<%= map[rr][cc] %>>
       <%               }  %>
       <%          } else if (map_status[rr][cc]==="closed") { %>
                        <input type="button" class="game_button" value="">
       <%          } else { %>
                        <input type="button" class="flagged" value="">
       <%          }  %>
       <%     }  %>
              </span>
              <br/>
       <% } %>
<% } else if (endgame==="WIN") { %>
       <p>YAY!.....YOU WIN :)</p>
       <form action="/new_game" method="post" enctype="multipart/form-data">
       <input type="radio" name="gametype" value="EASY"  checked><label>EASY</label><br>
       <input type="radio" name="gametype" value="HARD"><label>HARD</label><br>
       <input type="submit" value="NEW GAME">
       </form>
       <% for (let rr = 0; rr < rows; rr++) { %>
              <span>
       <%     for (let cc = 0; cc < cols; cc++) { %>
       <%          if (map_status[rr][cc]==="open") { %>
       <%               if (map[rr][cc]==="M") { %>
                             <input type="button" class="mine">
       <%               } else { %>
                             <input type="button" class="opened" value=<%= map[rr][cc] %>>
       <%               }  %>
       <%          } else if (map_status[rr][cc]==="closed") { %>
                        <input type="button" class="game_button" value="">
       <%          } else { %>
                        <input type="button" class="flagged" value="">
       <%          }  %>
       <%     }  %>
              </span>
              <br/>
       <% } %>
<% } else { %>
       <form action="/game_click" method="post" enctype="multipart/form-data">
<% if (clicktype==="Dig") { %>
       <input type="radio" name="click_type" value="Dig"  checked><label>Dig</label><br>
       <input type="radio" name="click_type" value="Flag"><label>Flag</label><br>
<% } else { %>
       <input type="radio" name="click_type" value="Dig"><label>Dig</label><br>
       <input type="radio" name="click_type" value="Flag" checked><label>Flag</label><br>
<% } %>
       <% for (let rr = 0; rr < rows; rr++) { %>
              <span>
       <%     for (let cc = 0; cc < cols; cc++) { %>
       <%          if (map_status[rr][cc]==="open") { %>
       <%               if (map[rr][cc]==="M") { %>
                             <input type="button" class="mine">
       <%               } else { %>
                             <input type="button" class="opened" value=<%= map[rr][cc] %>>
       <%               }  %>
       <%          } else if (map_status[rr][cc]==="closed") { %>
                        <input type="submit" name=button_<%= rr %>_<%= cc %>  class="game_button" value="">
       <%          } else { %>
                        <input type="submit" name=button_<%= rr %>_<%= cc %>  class="flagged" value="">
       <%          }  %>
       <%     }  %>
              </span>
              <br>
       <% } %>
       </form>
<% } %>
</body>
</html>

