<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<h1>Minesweeper</h1>
<% if (lastrow != -1 && lastcol != -1 && map[lastrow][lastcol]==="M" && clicktype==="Dig") { %>
       <p>BOOM!.....YOU LOSE :(</p>
       <% for (let rr = 0; rr < rows; rr++) { %>
              <span>
       <%     for (let cc = 0; cc < cols; cc++) { %>
       <%          if (map_status[rr][cc]==="open") { %>
                        <input type="button" class="opened" value=<%= map[rr][cc] %>>
       <%          } else if (map_status[rr][cc]==="closed") { %>
                        <input type="button" name=button_<%= rr %>_<%= cc %>  class="game_button" value="">
       <%          } else { %>
                        <input type="button" class="flagged" value="">
       <%          }  %>
       <%     }  %>
              </span>
              <br/>
       <% } %>
<% } else { %>
       <form action="/game_click" method="post" enctype="multipart/form-data">
       <input type="radio" name="click_type" value="Dig"><label>Dig</label><br>
       <input type="radio" name="click_type" value="Flag" checked><label>Flag</label><br>
       <% for (let rr = 0; rr < rows; rr++) { %>
              <span>
       <%     for (let cc = 0; cc < cols; cc++) { %>
       <%          if (map_status[rr][cc]==="open") { %>
                        <input type="button" class="opened" value=<%= map[rr][cc] %>>
       <%          } else if (map_status[rr][cc]==="closed") { %>
                        <input type="submit" name=button_<%= rr %>_<%= cc %>  class="game_button" value="">
       <%          } else { %>
                        <input type="submit" class="flagged" value="">
       <%          }  %>
       <%     }  %>
              </span>
              <br>
       <% } %>
       </form>
<% } %>
</body>
</html>

